{
  "openapi": "3.1.0",
  "info": {
    "title": "Notion API",
    "version": "2.0.0",
    "description": "Notion API 2025-09-03 - Data Source Edition. Breaking change: Database endpoints replaced with data source endpoints.",
    "license": {
      "name": "MIT",
      "url": "https://github.com/makenotion/notion-sdk-js/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.notion.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "parameters": {
      "notionVersion": {
        "name": "Notion-Version",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "default": "2025-09-03"
        },
        "description": "The Notion API version"
      }
    },
    "schemas": {
      "richTextRequest": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "object",
            "required": [
              "content"
            ],
            "properties": {
              "content": {
                "type": "string"
              },
              "link": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ]
              }
            },
            "additionalProperties": false
          },
          "type": {
            "enum": [
              "text"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "pageIdParentRequest": {
        "type": "object",
        "properties": {
          "page_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "page_id"
        ]
      },
      "dataSourceIdParentRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "database_id"
          },
          "database_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "database_id"
        ]
      },
      "parentRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/pageIdParentRequest"
          },
          {
            "$ref": "#/components/schemas/dataSourceIdParentRequest"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "workspace"
              }
            },
            "required": [
              "type"
            ]
          }
        ]
      },
      "movePageParentRequest": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "page_id"
              },
              "page_id": {
                "type": "string",
                "format": "uuid"
              }
            },
            "required": [
              "type",
              "page_id"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "database_id"
              },
              "database_id": {
                "type": "string",
                "format": "uuid"
              }
            },
            "required": [
              "type",
              "database_id"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "workspace"
              }
            },
            "required": [
              "type"
            ]
          }
        ]
      },
      "sortObject": {
        "type": "object",
        "required": [
          "property",
          "direction"
        ],
        "properties": {
          "property": {
            "type": "string"
          },
          "direction": {
            "enum": [
              "ascending",
              "descending"
            ],
            "type": "string"
          }
        }
      },
      "paragraphBlockRequest": {
        "type": "object",
        "properties": {
          "paragraph": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "paragraph"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "bulletedListItemBlockRequest": {
        "type": "object",
        "properties": {
          "bulleted_list_item": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "bulleted_list_item"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "blockObjectRequest": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/paragraphBlockRequest"
          },
          {
            "$ref": "#/components/schemas/bulletedListItemBlockRequest"
          }
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Databases",
      "description": "Database endpoints for retrieving database metadata"
    },
    {
      "name": "Data sources",
      "description": "Data source endpoints for querying and managing databases"
    },
    {
      "name": "Pages",
      "description": "Page endpoints for creating and managing pages"
    },
    {
      "name": "Blocks",
      "description": "Block endpoints for managing page content"
    },
    {
      "name": "Users",
      "description": "User endpoints"
    },
    {
      "name": "Search",
      "description": "Search endpoints"
    },
    {
      "name": "Comments",
      "description": "Comment endpoints"
    }
  ],
  "paths": {
    "/v1/users/{user_id}": {
      "get": {
        "summary": "Retrieve a user",
        "description": "",
        "operationId": "get-user",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {}
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/users": {
      "get": {
        "summary": "List all users",
        "operationId": "get-users",
        "parameters": [
          {
            "name": "start_cursor",
            "in": "query",
            "description": "If supplied, this endpoint will return a page of results starting after the cursor provided. If not supplied, this endpoint will return the first page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items from the full list desired in the response. Maximum: 100",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {}
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/users/me": {
      "get": {
        "summary": "Retrieve your token's bot user",
        "description": "",
        "operationId": "get-self",
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "object": "user",
                      "id": "16d84278-ab0e-484c-9bdd-b35da3bd8905",
                      "name": "pied piper",
                      "avatar_url": null,
                      "type": "bot",
                      "bot": {
                        "owner": {
                          "type": "user",
                          "user": {
                            "object": "user",
                            "id": "5389a034-eb5c-47b5-8a9e-f79c99ef166c",
                            "name": "christine makenotion",
                            "avatar_url": null,
                            "type": "person",
                            "person": {
                              "email": "christine@makenotion.com"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "user"
                    },
                    "id": {
                      "type": "string",
                      "example": "16d84278-ab0e-484c-9bdd-b35da3bd8905"
                    },
                    "name": {
                      "type": "string",
                      "example": "pied piper"
                    },
                    "avatar_url": {},
                    "type": {
                      "type": "string",
                      "example": "bot"
                    },
                    "bot": {
                      "type": "object",
                      "properties": {
                        "owner": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "user"
                            },
                            "user": {
                              "type": "object",
                              "properties": {
                                "object": {
                                  "type": "string",
                                  "example": "user"
                                },
                                "id": {
                                  "type": "string",
                                  "example": "5389a034-eb5c-47b5-8a9e-f79c99ef166c"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "christine makenotion"
                                },
                                "avatar_url": {},
                                "type": {
                                  "type": "string",
                                  "example": "person"
                                },
                                "person": {
                                  "type": "object",
                                  "properties": {
                                    "email": {
                                      "type": "string",
                                      "example": "christine@makenotion.com"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/search": {
      "post": {
        "summary": "Search by title",
        "description": "",
        "operationId": "post-search",
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The text that the API compares page and database titles against."
                  },
                  "sort": {
                    "type": "object",
                    "description": "A set of criteria, `direction` and `timestamp` keys, that orders the results. The **only** supported timestamp value is `\"last_edited_time\"`. Supported `direction` values are `\"ascending\"` and `\"descending\"`. If `sort` is not provided, then the most recently edited results are returned first.",
                    "properties": {
                      "direction": {
                        "type": "string",
                        "description": "The direction to sort. Possible values include `ascending` and `descending`."
                      },
                      "timestamp": {
                        "type": "string",
                        "description": "The name of the timestamp to sort against. Possible values include `last_edited_time`."
                      }
                    }
                  },
                  "filter": {
                    "type": "object",
                    "description": "A set of criteria, `value` and `property` keys, that limits the results to either only pages or only data sources. Possible `value` values are `\"page\"` or `\"data_source\"`. The only supported `property` value is `\"object\"`.",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "The value of the property to filter the results by.  Possible values for object type include `page` or `data_source`.  **Limitation**: Currently the only filter allowed is `object` which will filter by type of object (either `page` or `data_source`)",
                        "enum": [
                          "page",
                          "data_source"
                        ]
                      },
                      "property": {
                        "type": "string",
                        "description": "The name of the property to filter by. Currently the only property you can filter by is the object type.  Possible values include `object`.   Limitation: Currently the only filter allowed is `object` which will filter by type of object (either `page` or `data_source`)"
                      }
                    }
                  },
                  "start_cursor": {
                    "type": "string",
                    "description": "A `cursor` value returned in a previous response that If supplied, limits the response to results starting after the `cursor`. If not supplied, then the first page of results is returned. Refer to [pagination](https://developers.notion.com/reference/intro#pagination) for more details."
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "The number of items from the full list to include in the response. Maximum: `100`.",
                    "default": 100,
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/blocks/{block_id}/children": {
      "get": {
        "summary": "Retrieve the direct children of a page or block. Each child is returned with its `id`, `type` and `last_edited_time`. These block IDs are how to make targeted edits: updating or deleting a block by ID avoids reproducing its exact text, which is the reliable way to edit a large page. Children are returned one level deep — recurse on a child's ID to walk nested content.",
        "description": "",
        "operationId": "get-block-children",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a [block](ref:block)",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "start_cursor",
            "in": "query",
            "description": "If supplied, this endpoint will return a page of results starting after the cursor provided. If not supplied, this endpoint will return the first page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items from the full list desired in the response. Maximum: 100",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Append child blocks to a page or block. Pass `after` with an existing block ID to insert at that position rather than at the end. Only `paragraph` and `bulleted_list_item` are described by this schema; to add other block types, write them as Markdown with Update a page's content as Markdown instead. Note that Notion's API has no move operation: reordering existing content means appending a copy and deleting the original, which assigns new block IDs and does not carry over comments. REQUIRED WHEN USING `after`: `expected_anchor_hash` must be the `content_hash` of the anchor block named in `after`. Do not construct or modify it. A 409 with code `stale_anchor_hash` means the anchor changed since your read. Appending at the end of the parent needs no hash.",
        "description": "\n\nREQUIRED WHEN USING `after`: `expected_anchor_hash` must be the `content_hash` of the anchor block named in `after`. Do not construct or modify it. A 409 with code `stale_anchor_hash` means the anchor changed since your read. Appending at the end of the parent needs no hash.",
        "operationId": "patch-block-children",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a [block](ref:block). Also accepts a [page](ref:page) ID.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "children"
                ],
                "properties": {
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectRequest"
                    },
                    "description": "Child content to append to a container block as an array of [block objects](ref:block)"
                  },
                  "after": {
                    "type": "string",
                    "description": "The ID of the existing block that the new block should be appended after. Get block IDs from Retrieve block children. Omit this to append at the end, which is why child pages created via the API land at the bottom of their parent."
                  },
                  "expected_anchor_hash": {
                    "type": "string",
                    "description": "The `content_hash` of the block named in `after`. Required whenever `after` is supplied; ignored otherwise. Appending at the end needs no precondition because it destroys nothing."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/blocks/{block_id}": {
      "get": {
        "summary": "Retrieve a single block by ID, including its `last_edited_time`. Use this to confirm a block has not changed since it was read before writing to it.",
        "description": "",
        "operationId": "retrieve-a-block",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a Notion block",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Replace a block's content in place, addressed by block ID. Prefer this over Markdown find-and-replace for targeted edits: it does not require reproducing the block's existing text, so it is unaffected by how that text renders. Put the block-type key at the root of the body — `{\"paragraph\": {\"rich_text\": [...]}}` — matching the block's existing type, since a block cannot change type. Get block IDs and their types from Retrieve block children. REQUIRED: `expected_content_hash` must be the `content_hash` value returned when you read the block. Do not construct or modify it. A 409 with code `stale_content_hash` means the block changed since your read: re-read it, decide whether your edit still applies, and retry with the new hash.",
        "description": "\n\nREQUIRED: `expected_content_hash` must be the `content_hash` value returned when you read the block. Do not construct or modify it. A 409 with code `stale_content_hash` means the block changed since your read: re-read it, decide whether your edit still applies, and retry with the new hash.",
        "operationId": "update-a-block",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a Notion block",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "The [block object `type`](ref:block#block-object-keys) value with the properties to be updated. The block-type key goes at the root of the body — `{\"paragraph\": {\"rich_text\": [...]}}`, not wrapped in a `type` field. Send the key matching the block's existing type; a block cannot change type. Block types other than the two described here (`heading_1`, `heading_2`, `heading_3`, `to_do`, `callout`, `code`, `quote`, `numbered_list_item`, …) take the same shape and are accepted. Only `rich_text` (for supported block types) and `checked` (for `to_do` blocks) can be updated.",
                "properties": {
                  "paragraph": {
                    "type": "object",
                    "description": "New content for a `paragraph` block.",
                    "properties": {
                      "rich_text": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/richTextRequest"
                        },
                        "maxItems": 100
                      }
                    },
                    "required": [
                      "rich_text"
                    ]
                  },
                  "bulleted_list_item": {
                    "type": "object",
                    "description": "New content for a `bulleted_list_item` block.",
                    "properties": {
                      "rich_text": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/richTextRequest"
                        },
                        "maxItems": 100
                      }
                    },
                    "required": [
                      "rich_text"
                    ]
                  },
                  "archived": {
                    "type": "boolean",
                    "description": "Set to true to archive (delete) a block. Set to false to un-archive (restore) a block."
                  },
                  "expected_content_hash": {
                    "type": "string",
                    "description": "The `content_hash` returned when you read this block. Required. Guards against overwriting an edit made since your read."
                  }
                },
                "additionalProperties": true,
                "required": [
                  "expected_content_hash"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "delete": {
        "summary": "Delete a block by ID, along with its children. This is how to remove a section without reproducing its text — read the IDs with Retrieve block children first, then delete each one. Deleting many blocks by ID is far more reliable than a Markdown find-and-replace that has to match every character of the content being removed. REQUIRED: `expected_subtree_hash` must be the `subtree_hash (from API-retrieve-a-block)` value returned when you read the block. Do not construct or modify it. A 409 with code `stale_subtree_hash` means the block changed since your read: re-read it, decide whether your edit still applies, and retry with the new hash.",
        "description": "\n\nREQUIRED: `expected_subtree_hash` must be the `subtree_hash (from API-retrieve-a-block)` value returned when you read the block. Do not construct or modify it. A 409 with code `stale_subtree_hash` means the block changed since your read: re-read it, decide whether your edit still applies, and retry with the new hash.",
        "operationId": "delete-a-block",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a Notion block",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          },
          {
            "name": "expected_subtree_hash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `subtree_hash` returned by API-retrieve-a-block for this block. Required. Covers the block and everything beneath it, because deleting a container destroys its whole subtree."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/pages/{page_id}": {
      "get": {
        "summary": "Retrieve a page",
        "description": "",
        "operationId": "retrieve-a-page",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "description": "Identifier for a Notion page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "filter_properties",
            "in": "query",
            "description": "A list of page property value IDs associated with the page. Use this param to limit the response to a specific page property value or values. To retrieve multiple properties, specify each page property ID. For example: `?filter_properties=iAk8&filter_properties=b7dh`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Update page properties",
        "description": "",
        "operationId": "patch-page",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "description": "The identifier for the Notion page to be updated.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "properties": {
                    "description": "The property values to update for the page. The keys are the names or IDs of the property and the values are property values. If a page property ID is not included, then it is not changed.",
                    "type": "object",
                    "additionalProperties": true
                  },
                  "in_trash": {
                    "type": "boolean",
                    "description": "Set to true to delete a block. Set to false to restore a block.",
                    "default": false
                  },
                  "archived": {
                    "type": "boolean"
                  },
                  "icon": {
                    "description": "A page icon for the page. Supported types are [external file object](https://developers.notion.com/reference/file-object) or [emoji object](https://developers.notion.com/reference/emoji-object).",
                    "type": "object",
                    "properties": {
                      "emoji": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "emoji"
                    ]
                  },
                  "cover": {
                    "type": "object",
                    "description": "A cover image for the page. Only [external file objects](https://developers.notion.com/reference/file-object) are supported.",
                    "properties": {
                      "external": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "url"
                        ]
                      },
                      "type": {
                        "enum": [
                          "external"
                        ],
                        "type": "string"
                      }
                    },
                    "required": [
                      "external"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/pages": {
      "post": {
        "summary": "Create a page",
        "description": "",
        "operationId": "post-page",
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "parent",
                  "properties"
                ],
                "properties": {
                  "parent": {
                    "$ref": "#/components/schemas/parentRequest"
                  },
                  "properties": {
                    "description": "The property values for the new page. The keys are the names or IDs of the property and the values are property values.",
                    "type": "object",
                    "additionalProperties": true
                  },
                  "children": {
                    "type": "array",
                    "description": "The content to be rendered on the new page, represented as an array of [block objects](https://developers.notion.com/reference/block).",
                    "items": {
                      "type": "string"
                    }
                  },
                  "icon": {
                    "type": "string",
                    "description": "The icon of the new page. Either an [emoji object](https://developers.notion.com/reference/emoji-object) or an [external file object](https://developers.notion.com/reference/file-object)..",
                    "format": "json"
                  },
                  "cover": {
                    "type": "string",
                    "description": "The cover image of the new page, represented as a [file object](https://developers.notion.com/reference/file-object).",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/pages/{page_id}/properties/{property_id}": {
      "get": {
        "summary": "Retrieve a page property item",
        "description": "",
        "operationId": "retrieve-a-page-property",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "description": "Identifier for a Notion page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "property_id",
            "in": "path",
            "description": "Identifier for a page [property](https://developers.notion.com/reference/page#all-property-values)",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "For paginated properties. The max number of property item objects on a page. The default size is 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "start_cursor",
            "in": "query",
            "description": "For paginated properties.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/comments": {
      "get": {
        "summary": "Retrieve comments",
        "description": "Retrieves a list of un-resolved [Comment objects](ref:comment-object) from a page or block.",
        "operationId": "retrieve-a-comment",
        "parameters": [
          {
            "name": "block_id",
            "in": "query",
            "description": "Identifier for a Notion block or page",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_cursor",
            "in": "query",
            "description": "If supplied, this endpoint will return a page of results starting after the cursor provided. If not supplied, this endpoint will return the first page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items from the full list desired in the response. Maximum: 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": {
                      "object": "list",
                      "results": [
                        {
                          "object": "comment",
                          "id": "94cc56ab-9f02-409d-9f99-1037e9fe502f",
                          "parent": {
                            "type": "page_id",
                            "page_id": "5c6a2821-6bb1-4a7e-b6e1-c50111515c3d"
                          },
                          "discussion_id": "f1407351-36f5-4c49-a13c-49f8ba11776d",
                          "created_time": "2022-07-15T16:52:00.000Z",
                          "last_edited_time": "2022-07-15T19:16:00.000Z",
                          "created_by": {
                            "object": "user",
                            "id": "9b15170a-9941-4297-8ee6-83fa7649a87a"
                          },
                          "rich_text": [
                            {
                              "type": "text",
                              "text": {
                                "content": "Single comment",
                                "link": null
                              },
                              "annotations": {
                                "bold": false,
                                "italic": false,
                                "strikethrough": false,
                                "underline": false,
                                "code": false,
                                "color": "default"
                              },
                              "plain_text": "Single comment",
                              "href": null
                            }
                          ]
                        }
                      ],
                      "next_cursor": null,
                      "has_more": false,
                      "type": "comment",
                      "comment": {}
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "post": {
        "summary": "Create comment",
        "description": "Creates a comment in a page or existing discussion thread.",
        "operationId": "create-a-comment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "parent",
                  "rich_text"
                ],
                "properties": {
                  "parent": {
                    "type": "object",
                    "description": "The page that contains the comment",
                    "required": [
                      "page_id"
                    ],
                    "properties": {
                      "page_id": {
                        "type": "string",
                        "description": "the page ID"
                      }
                    }
                  },
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "text"
                      ],
                      "properties": {
                        "text": {
                          "type": "object",
                          "required": [
                            "content"
                          ],
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The content of the comment"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "object": "comment",
                      "id": "b52b8ed6-e029-4707-a671-832549c09de3",
                      "parent": {
                        "type": "page_id",
                        "page_id": "5c6a2821-6bb1-4a7e-b6e1-c50111515c3d"
                      },
                      "discussion_id": "f1407351-36f5-4c49-a13c-49f8ba11776d",
                      "created_time": "2022-07-15T20:53:00.000Z",
                      "last_edited_time": "2022-07-15T20:53:00.000Z",
                      "created_by": {
                        "object": "user",
                        "id": "067dee40-6ebd-496f-b446-093c715fb5ec"
                      },
                      "rich_text": [
                        {
                          "type": "text",
                          "text": {
                            "content": "Hello world",
                            "link": null
                          },
                          "annotations": {
                            "bold": false,
                            "italic": false,
                            "strikethrough": false,
                            "underline": false,
                            "code": false,
                            "color": "default"
                          },
                          "plain_text": "Hello world",
                          "href": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/data_sources/{data_source_id}/query": {
      "post": {
        "summary": "Query a data source",
        "description": "Query a data source (database) using filters and sorts",
        "operationId": "query-data-source",
        "tags": [
          "Data sources"
        ],
        "parameters": [
          {
            "name": "data_source_id",
            "in": "path",
            "description": "Identifier for a Notion data source (database)",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "filter_properties",
            "in": "query",
            "description": "A list of page property value IDs to limit the response",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object",
                    "description": "Filter conditions for querying the data source"
                  },
                  "sorts": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/sortObject"
                    }
                  },
                  "start_cursor": {
                    "type": "string"
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 100
                  },
                  "archived": {
                    "type": "boolean"
                  },
                  "in_trash": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/data_sources/{data_source_id}": {
      "get": {
        "summary": "Retrieve a data source",
        "description": "Retrieve metadata and schema for a data source",
        "operationId": "retrieve-a-data-source",
        "tags": [
          "Data sources"
        ],
        "parameters": [
          {
            "name": "data_source_id",
            "in": "path",
            "description": "Identifier for a Notion data source",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Update a data source",
        "description": "Update properties of a data source",
        "operationId": "update-a-data-source",
        "tags": [
          "Data sources"
        ],
        "parameters": [
          {
            "name": "data_source_id",
            "in": "path",
            "description": "Identifier for a Notion data source",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextRequest"
                    }
                  },
                  "description": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextRequest"
                    },
                    "maxItems": 100
                  },
                  "properties": {
                    "type": "object",
                    "description": "Property schema updates"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/data_sources": {
      "post": {
        "summary": "Create a data source",
        "description": "Create a new data source (database)",
        "operationId": "create-a-data-source",
        "tags": [
          "Data sources"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "parent",
                  "properties"
                ],
                "properties": {
                  "parent": {
                    "$ref": "#/components/schemas/pageIdParentRequest"
                  },
                  "properties": {
                    "type": "object",
                    "description": "Property schema of data source"
                  },
                  "title": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextRequest"
                    },
                    "maxItems": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/data_sources/{data_source_id}/templates": {
      "get": {
        "summary": "List templates in a data source",
        "description": "List available templates for a data source",
        "operationId": "list-data-source-templates",
        "tags": [
          "Data sources"
        ],
        "parameters": [
          {
            "name": "data_source_id",
            "in": "path",
            "description": "Identifier for a Notion data source",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "start_cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/databases/{database_id}": {
      "get": {
        "summary": "Retrieve a database",
        "description": "Retrieves a database object using the ID specified. Returns database metadata including the list of data source IDs contained in the database.",
        "operationId": "retrieve-a-database",
        "tags": [
          "Databases"
        ],
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "description": "Identifier for a Notion database",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/pages/{page_id}/move": {
      "post": {
        "summary": "Move a page",
        "description": "Move a page to a different parent location",
        "operationId": "move-page",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "description": "Identifier for a Notion page",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "parent"
                ],
                "properties": {
                  "parent": {
                    "$ref": "#/components/schemas/movePageParentRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/pages/{page_id}/markdown": {
      "get": {
        "summary": "Retrieve a page's content as Markdown. Accepts a block ID as well as a page ID, so a single section can be read on its own instead of fetching a whole large page. On a page you have not read before, start with `format: outline` to get the headings and their block IDs cheaply, then read only the section you need. The Markdown returned is display-oriented: escaping of characters such as `*`, `~` and `#` may differ from what is stored, so it is not guaranteed to round-trip when fed back as `old_str`. For edits that must be precise, address blocks by ID via Retrieve block children instead. This read returns no content_hash, so it cannot be the source of a precondition for a block write — take hashes from `format: \"outline\"`, Retrieve a block, or Retrieve block children.",
        "description": "Retrieve the full content of a Notion page rendered as enhanced Markdown. Designed for agentic and developer tools that work natively with Markdown instead of the block JSON returned by Retrieve block children.",
        "operationId": "retrieve-page-markdown",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Identifier for a Notion page (or block) to read or update as markdown."
          },
          {
            "name": "include_transcript",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to include meeting note transcripts. When false (default), a placeholder with the meeting note URL is shown instead of the full transcript."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "markdown",
                "outline",
                "section"
              ],
              "default": "markdown"
            },
            "description": "`markdown` (default) returns the page content. `outline` returns only the headings, each with its block ID, content hash and section size, and does not read the page body at all. `section` takes a heading's block ID as page_id and returns that heading together with the blocks beneath it — use it instead of a plain read, because a Notion heading's content is stored as its siblings, so reading the heading's own ID returns just the heading line. The usual workflow on a large page is: read the outline, take the block ID of the section you want, re-read it with format: \"section\", then edit with Update a block."
          },
          {
            "name": "max_blocks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Return at most this many blocks of Markdown. The response sets `truncated` and reports how many blocks were omitted. Use with `format: outline` to locate a section rather than reading blindly further."
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-03-11"
            },
            "description": "The Notion API version. The page-markdown endpoints require 2026-03-11 or later."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "page_markdown"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the page or block."
                    },
                    "markdown": {
                      "type": "string",
                      "description": "Page content rendered as enhanced Markdown."
                    },
                    "truncated": {
                      "type": "boolean",
                      "description": "True if content was truncated because the page exceeds the block limit."
                    },
                    "unknown_block_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "description": "Block IDs that could not be rendered (e.g. due to permissions or truncation). Pass them back to this endpoint to fetch them individually."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The integration lacks the read/update content capability required for this page.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Page not found or not shared with the integration.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Update a page's content as Markdown. Use `replace_content` to overwrite a whole page or block. For targeted edits to a large page, prefer addressing blocks by ID — Retrieve block children, then Update a block, Delete a block or Append block children — because find-and-replace has to reproduce existing text exactly and cannot match across block boundaries. Pass `dry_run: true` to preview a batch without writing.",
        "description": "Update the content of a Notion page using enhanced Markdown. Prefer `replace_content` to overwrite the whole page or `update_content` for targeted find-and-replace edits.\n\nPREFER BLOCK-ID EDITS FOR TARGETED CHANGES. This tool rewrites by matching text, so it cannot be guarded by a content hash and will not warn you if the page changed since you read it. For editing or deleting specific existing content, use API-update-a-block / API-delete-a-block, which take a block ID and a content hash and refuse a stale write. Use this tool for bulk rewrites and for content the structured block API cannot express.",
        "operationId": "update-page-markdown",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Identifier for a Notion page (or block) to read or update as markdown."
          },
          {
            "name": "return_content",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "changed",
                "none",
                "full"
              ]
            },
            "description": "How much content to return. `changed` (the default for `update_content`) returns a receipt plus only the regions this call changed, which is enough to confirm the edit landed as intended — including spotting escaping corruption — without re-reading the page. `none` (the default for `replace_content`, where you just supplied the whole content) returns the receipt alone. `full` returns the entire page, which on a large page is usually enough to evict the reads you were working from."
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-03-11"
            },
            "description": "The Notion API version. The page-markdown endpoints require 2026-03-11 or later."
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Simulate the edits and return what they would do, writing nothing. Applies each edit in order against the page as the previous edits would have left it — the only check that sees the actual page, so it catches an anchor that stops matching because an earlier edit in the same batch changed the text around it. Use it before a batch you cannot easily undo.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type"
                ],
                "description": "Specify exactly one edit operation. Set `type` to the operation name and provide the matching object.",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "replace_content",
                      "update_content",
                      "insert_content",
                      "replace_content_range"
                    ],
                    "description": "The kind of edit to apply. Prefer `replace_content` (overwrite the whole page) or `update_content` (targeted find-and-replace). `insert_content` and `replace_content_range` are deprecated."
                  },
                  "replace_content": {
                    "type": "object",
                    "required": [
                      "new_str"
                    ],
                    "description": "Provide when type is `replace_content`. Replaces the entire page content.",
                    "properties": {
                      "new_str": {
                        "type": "string",
                        "description": "The complete new page content as enhanced Markdown."
                      },
                      "allow_deleting_content": {
                        "type": "boolean",
                        "description": "Permit deletion of existing child pages/databases that are no longer present in the new content."
                      }
                    }
                  },
                  "update_content": {
                    "type": "object",
                    "required": [
                      "content_updates"
                    ],
                    "description": "Provide when type is `update_content`. Applies targeted find-and-replace edits.",
                    "properties": {
                      "content_updates": {
                        "type": "array",
                        "maxItems": 100,
                        "description": "Up to 100 find-and-replace edits, applied in order. Each edit runs against the document as the previous edits have already left it, so two anchors that overlap — or an `old_str` that matches text an earlier edit just produced — will not do what you intend and can silently drop content. Keep the anchors in one batch disjoint and well separated; when edits are close together, make them one larger edit or address the blocks by ID instead.",
                        "items": {
                          "type": "object",
                          "required": [
                            "old_str",
                            "new_str"
                          ],
                          "properties": {
                            "old_str": {
                              "type": "string",
                              "description": "Exact existing Markdown text to find. Must fall within a single block: text separated by a blank line belongs to a different block and will never match, however exactly it is reproduced. Table rows are stored one cell per line, so a row rewritten as a single line will not match either. Because rendered Markdown may escape characters differently from what is stored, an anchor containing `*`, `~`, `#` or nested bold/italic can fail to match — address the block by ID instead of guessing at the escaping."
                            },
                            "new_str": {
                              "type": "string",
                              "description": "Replacement Markdown text."
                            },
                            "replace_all_matches": {
                              "type": "boolean",
                              "description": "Replace every occurrence of old_str instead of just the first (default false)."
                            }
                          }
                        }
                      },
                      "allow_deleting_content": {
                        "type": "boolean",
                        "description": "Permit deletion of existing child pages/databases removed by the edits."
                      }
                    }
                  },
                  "insert_content": {
                    "type": "object",
                    "deprecated": true,
                    "required": [
                      "content"
                    ],
                    "description": "Deprecated. Provide when type is `insert_content`. Inserts Markdown at a position.",
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": "Enhanced Markdown to insert."
                      },
                      "after": {
                        "type": "string",
                        "description": "Ellipsis-format selection (\"start text...end text\") to insert after. Cannot be combined with position."
                      },
                      "position": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "start",
                              "end"
                            ]
                          }
                        },
                        "description": "Insert at the start or end of the page. Cannot be combined with after."
                      }
                    }
                  },
                  "replace_content_range": {
                    "type": "object",
                    "deprecated": true,
                    "required": [
                      "content",
                      "content_range"
                    ],
                    "description": "Deprecated. Provide when type is `replace_content_range`. Replaces a selected range of Markdown.",
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": "New Markdown content for the range."
                      },
                      "content_range": {
                        "type": "string",
                        "description": "Ellipsis-format selection (\"start text...end text\") identifying the range to replace."
                      },
                      "allow_deleting_content": {
                        "type": "boolean",
                        "description": "Permit deletion of child pages/databases within the replaced range."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "page_markdown"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the page or block."
                    },
                    "markdown": {
                      "type": "string",
                      "description": "Page content rendered as enhanced Markdown."
                    },
                    "truncated": {
                      "type": "boolean",
                      "description": "True if content was truncated because the page exceeds the block limit."
                    },
                    "unknown_block_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "description": "Block IDs that could not be rendered (e.g. due to permissions or truncation). Pass them back to this endpoint to fetch them individually."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The integration lacks the read/update content capability required for this page.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Page not found or not shared with the integration.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict (e.g. row limit exceeded).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 409
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    }
  }
}
